<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/p5.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.6.1/addons/p5.sound.min.js"></script>
    <source src="{{url_for('static', filename='sounds/nature/0.mp3')}}">
    <source src="{{url_for('static', filename='sounds/machines/2.mp3')}}">
    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.1.12.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="utf-8" />

  </head>
  <body>
    <script>
    </script>
    <script src="{{url_for('static', filename='bundle.js')}}"></script>
    <script src="{{url_for('static', filename='sketch.js')}}"></script>
  </body>
</html>
